/*--- attribute define ---*/
/*--- width-classes ---*/
.column-* {
  padding: 20px;
}
.column-12 {
  width: 100%;
}
.column-11 {
  width: 91.6667%;
}
.column-10 {
  width: 83.3333%;
}
.column-9 {
  width: 75%;
}
.column-8 {
  width: 66.6667%;
}
.column-6 {
  width: 50%;
}
.column-4 {
  width: 33.3333%;
}
.column-3 {
  width: 25%;
}
.column-2 {
  width: 16.6667%;
}
.column-1 {
  width: 8.33333%;
}
.column-* {
  padding: 20px;
}
.container [class^="column-"] {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.width-twenty,
.column_yellow {
  width: 20%;
}
.width-twentpoint,
.column_grey {
  width: 22.779043280182233%;
}
.padding-more,
.column_green {
  padding-bottom: 86px;
  padding-top: 86px;
}
.column-block,
.black-bg,
.column_red,
.column_smblack,
.column_green,
.column_lightgreen,
.column_yellow,
.column_pink,
.column_grey,
.orange_bg {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  font-size: 60px;
  font-family: arial;
  float: left;
  border: solid 1px #000000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
}
.black-bg {
  background: #000000;
  color: #ffff01;
}
.column_red {
  background: #fe0000;
  color: #000000;
}
.column_smblack {
  background: #000000;
  color: #fe0000;
}
.column_green {
  background: #008001;
  color: #ffffff;
}
.column_lightgreen {
  background: #01ffff;
  color: #008001;
}
.column_yellow {
  background: #ffff01;
  color: #000000;
}
.column_pink {
  background: #ff00ff;
  color: #01ffff;
}
.column_grey {
  background: #808080;
  color: #80ff00;
}
.color_orange {
  color: #fe0000;
}
.orange_bg {
  background: #ff6448;
  color: #01ffff;
}
.color_blue {
  color: #0101ff;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  background: #000000;
}
.background {
  background: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.container {
  margin: 0 auto;
  width: 960px;
}
.pull-left {
  float: left ;
}
.padding-none {
  padding-left: 0px !important;
}
.padding-right {
  padding-right: 0px !important;
}
.paddingb-none {
  padding-bottom: 0px !important;
}
.padding_more {
  padding-top: 80px;
  padding-bottom: 80px;
}
