
/*--- attribute define ---*/
  @color-black:#000;
  @color-red:#FE0000;
  @color-ligthgreen:#01FFFF;
  @color-green:#008001;
  @color-yellow:#FFFF01;
  @color-pink:#FF00FF;
  @color-grey:#808080;
  @color-orange:#FF6448;
  @color-white:#FFF;
  @color-parrot:#80FF00;
  @color-royalblue:#0101FF;
  @width-full:100%;
  @gutter:10px;
  @font60:60px;
  @arial:arial;
  @conatiner-width:960px;
/*--- width-classes ---*/
.column-*{
  padding:@gutter*2;
}
.column-12 {
    width: 100%;
}
.column-11 {
    width: 91.6667%;
}
.column-10 {
    width: 83.3333%;
}
.column-8 {
    width: 66.6667%;
}
.column-6 {
    width: 50%;
}
.column-4 {
    width: 33.3333%;
}
.column-3 {
    width: 25%;
}
.column-2 {
    width: 16.6667%;
}
.column-1 {
    width: 8.33333%;
}
.column-*{
  padding:@gutter*2;
}
.container [class^="column-"]{
  float: left;
  padding-left:@gutter*2;
  padding-right:@gutter*2;
  padding-bottom:@gutter*2;

}
.rounded-corners(@radius: x) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.width-twenty{
  width:@width-full/5;
}
.width-twentpoint{
  width:@width-full/4.39;
}
.padding-more{
  padding-bottom:@gutter*8 + 6 ;
  padding-top:@gutter*8 + 6 ;
}
.column-block{
  padding-bottom:@gutter*2;
  padding-top:@gutter*2;
  text-align:center;
  font-size:@font60;
  font-family:@arial;
  border:solid 1px @color-black;
  .rounded-corners(10px);
  width:@width-full;
}
.black-bg{
	background:@color-black;
	color:@color-yellow;
  &:extend(.column-block);
}
.column_red{
  background:@color-red;
  color:@color-black;
  &:extend(.column-block);
}
.column_smblack{
  background:@color-black;
  color:@color-red;
  &:extend(.column-block);
}
.column_green{
  background:@color-green;
  color:@color-white;
  &:extend(.padding-more);
  &:extend(.column-block);
}
.column_lightgreen{
  background:@color-ligthgreen;
  color:@color-green;
  &:extend(.column-block);
}
.column_yellow{
  background:@color-yellow;
  color:@color-black;
  &:extend(.column-block);
  &:extend(.width-twenty);
}
.column_pink{
  background:@color-pink;
  color:@color-ligthgreen;
  &:extend(.column-block);
}
.column_grey{
  background:@color-grey;
  color:@color-parrot;
  &:extend(.column-block);
  &:extend(.width-twentpoint);
}
.color_orange{
  color:@color-red;
}
.orange_bg{
  background:@color-orange;
  color:@color-ligthgreen;
  &:extend(.column-block);
}
.color_blue{
  color:@color-royalblue;
}
*{
  margin:@gutter*0;
  padding:@gutter*0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body{
  background: @color-black;
}
.background{
  background: @color-white;
  padding-top:@gutter*2;
  padding-bottom:@gutter*2;
  width: @width-full;
  .rounded-corners(10px);
}
.container{
  margin:0 auto;
  width:@conatiner-width;
}
.pull-left{
  float:left ;
}
.padding-none{
  padding-left:@gutter*0 !important;
}
.padding-right{
  padding-right:@gutter*0 !important;
}
.paddingb-none{
  padding-bottom:@gutter*0 !important;
}
.padding_more{
  padding-top:@gutter*8;
  padding-bottom:@gutter*8;
}