/*--- attribute define ---*/
/*--- mixins container ---*/
/*--- attribute container ---*/
.width-twenty,
.column-block-f,
.column-block-g {
  width: 20%;
}
.width-twentpoint,
.column-block-j,
.column-block-k,
.column-block-m {
  width: 22.779043280182233%;
}
.padding-more,
.column-block-h {
  padding-bottom: 86px;
  padding-top: 86px;
}
.column-block,
.column-block-a,
.column-block-b,
.column-block-c,
.column-block-d,
.column-block-e,
.column-block-f,
.column-block-g,
.column-block-h,
.column-block-i,
.column-block-j,
.column-block-k,
.column-block-l,
.column-block-m {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 60px;
  font-family: arial;
  margin-bottom: 20px;
  float: left;
  border: solid 1px #000000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.column-block-a {
  background: #000000;
  color: #ffff01;
  width: 100%;
}
.column-block-b {
  background: #fe0000;
  color: #000000;
  margin-right: 20px;
  width: 89.44543828264757%;
}
.column-block-c {
  background: #000000;
  color: #fe0000;
  width: 8.333333333333334%;
}
.column-block-d {
  background: #01ffff;
  color: #008001;
  width: 100%;
}
.column-block-e {
  background: #008001;
  color: #ffffff;
  margin-right: 20px;
  width: 52.91005291005291%;
}
.column-block-f {
  background: #ffff01;
  color: #000000;
  margin-right: 20px;
}
.column-block-g {
  background: #ffff01;
  color: #000000;
}
.column-block-h {
  background: #008001;
  color: #ffffff;
  margin-left: 20px;
  width: 92.93680297397769%;
}
.column-block-i {
  background: #ff00ff;
  color: #01ffff;
  width: 50%;
}
.column-block-j {
  background: #808080;
  color: #80ff00;
  margin-left: 20px;
  width: 22.779043280182233%;
}
.column-block-k {
  background: #808080;
  color: #fe0000;
  margin-left: 20px;
}
.column-block-l {
  background: #ff6448;
  color: #01ffff;
  margin-bottom: 0px !important;
  width: 74.90636704119851%;
}
.column-block-m {
  background: #808080;
  color: #0101ff;
  margin-left: 20px;
  margin-bottom: 0px !important;
}
/*--- classes define ---*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  background: #000000;
}
.background {
  background: #ffffff;
  padding: 10px;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.container {
  margin: 0 auto;
  width: 960px;
}
.first-part {
  width: 66.66666666666667%;
}
.second-part {
  width: 33.333333333333336%;
}
.pull-left {
  float: left ;
}
.pull-right {
  float: right;
}
